* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.root {
    width: 100%;
    padding-top: 50px;
}
.nav {
    z-index: 99;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
    padding: 0 40px;
    background: rgba(252, 124, 146, 0.7);
    backdrop-filter: blur(10px);
}
.page-list-btn {
    display: flex;
    flex-direction: column;
    width: 30px;
    height: 30px;
    padding: 5px 2px;
}
.btn-inner {
    width: 80%;
    height: 2px;
    margin: auto;
    background-color: #fff;
    border-radius: 1px;
}
.search {
    width: 160px;
    height: 34px;
}
.search form {
    width: 100%;
    height: 100%;
}
.search input {
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    border: none;
    font-size: 16px;
    padding: 0 15px;
    outline: none;
    color: #503535;
}
.search input::placeholder {
    color: #e09fb7;
}
.mob-nav {
    display: none;
    z-index: 99;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.1s;
}
.mob-nav.show {
    opacity: 1;
}
.show .mn-inner {
    transform: translateX(0px);
}
.mn-inner {
    width: 150px;
    height: 100%;
    background-color: #fff8f8;
    transform: translateX(-150px);
    transition: transform 0.1s;
}
.mn-top{
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-weight: 600;
    color: #fff;
    background-color: #fc7c92;
}
.mn-item {
    display: block;
    width: 100%;
    height: 50px;
    line-height: 50px;
    color: #ffb7b7;
    text-decoration: none;
    text-align: center;
}
.mn-item.active {
    background-color: #fcb3c7;
    color: #fff;
}

