.body{
    width: 100%;
    padding: 10px 20px;
}
.b-title{
    font-size: 30px;
    color: #ff77a5;
    font-weight: 400;
}
.sort-item{
    display: none;
    width: 200px;
    height: 40px;
    border-radius: 5px;
    background-color: #ffabc7;
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}
.search-cr{
    width: 100%;
}
.comic-item {
    width: calc(50% - 5px);
    height: 100%;
    flex-grow: 0;
    flex-shrink: 0;
}
.cover {
    display: block;
    position: relative;
    width: 100%;
    height: 165px;
}
.cover img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}
.comics-cr {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    gap: 10px;
    margin-top: 10px;
}
.c-title {
    width: 100%;
    height: 25px;
    font-size: 18px;
    font-weight: 400;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.c-sr-title {
    font-size: 14px;
    font-weight: 300;
    width: 100%;
    height: 23px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.chapter {
    z-index: 100;
    position: fixed;
    left: 0;
    top:0;
    transform: translateY(100%);
    width: 100%;
    height: 100%;
    background-color: #fdd8e0;
    transition: transform .3s ease;
}
.fold-btn {
    width: 100%;
    height: 40px;
    background-color: #fc7c92;
    color: #fff;
    line-height: 40px;
    text-align: center;
}
.image-cr {
    width: 100%;
    height: calc(100% - 40px);
    overflow-y: scroll;
}
.image{
    height: auto;
    position: relative;
}
.image span{
    position: absolute;
    left: 0;
    top: 47%;
    width: 100%;
    text-align: center;
    font-size: 25px;
    color: #fff;
}
.image img{
    display: block;
    width: 100%;
    height: auto;
    filter: brightness(0);
}
.image canvas{
    display: block;
    width: 100%;
    height: auto;
}
.loading-icon{
    width: 50px;
    height: 50px;
    margin: 30px auto;
    border-radius: 50%;
    border: 5px solid #fdd8e0;
    border-top-color: #fc7c92;
    animation: spin 1s linear infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}